version: 2.1

orbs:
  architect: giantswarm/architect@6.14.1

workflows:
  build:
    jobs:
      # build operator
      - architect/go-build:
          name: go-build
          binary: etcd-kubernetes-resources-count-exporter
          filters:
            tags:
              only: /^v.*/

      # build and push docker image to registries
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          requires:
            - go-build
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master

      # build and push helm chart to control-plane catalog
      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-exporter-to-control-plane-app-catalog
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          chart: etcd-kubernetes-resources-count-exporter
          requires:
            - push-to-registries
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master

      # build and push helm chart to default app catalog
      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-exporter-to-default-app-catalog
          app_catalog: default-catalog
          app_catalog_test: default-test-catalog
          chart: etcd-kubernetes-resources-count-exporter
          requires:
            - push-to-registries
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master
