image:
  name: "giantswarm/etcd-kubernetes-resources-count-exporter"
  tag: ""
pod:
  user:
    id: 0
  group:
    id: 0
# Resource names are truncated to 47 characters. Kubernetes allows 63 characters
# limit for resource names. When pods for deployments are created they have
# additional 16 characters suffix, e.g. "-957c9d6ff-pkzgw" and we want to have
# room for those suffixes.
#
# NOTE: All values under resource key need to be used with `tpl` to render them
# correctly in the templates. This is because helm doesn't template values.yaml
# file and it has to be a valid json. Example usage:
#
#     {{ tpl .Values.resource.default.name . }}.
#
resource:
  default:
    name: '{{ .Release.Name | replace "." "-" | trunc 47 }}'
    namespace: "kube-system"

registry:
  domain: gsoci.azurecr.io

listenPort: 10999

etcd:
  hostPath: "/etc/kubernetes/ssl/etcd/"
  endpoints: ["https://127.0.0.1:2379"]
  cacertpath: "/certs/server-ca.pem"
  certpath: "/certs/server-crt.pem"
  keypath: "/certs/server-key.pem"
  dialtimeout: "10"
  prefix: "/giantswarm.io/"

events:
  prefix: "/giantswarm.io/events/"

priorityClassName: "system-cluster-critical"

# Container resource requests and limits.
resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 100m
    memory: 100Mi

# Lower and upper bounds for vertical autoscaling.
verticalPodAutoscaler:
  enabled: true
  minAllowed:
    cpu: 100m
    memory: 100Mi
  maxAllowed:
    memory: 2Gi

# Add seccomp to pod security context
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  readOnlyRootFilesystem: true

kyvernoPolicyExceptions:
  enabled: true
  namespace: kube-system
